---
author: Cyril Richard
date: 2020-12-20T08:32:35+00:00
---


<div class="container marketing mt-5">

<!-- Three columns of text below the carousel -->


    <div class="row  justify-content-around">

        <div class="col-lg-5 mt-3 mt-lg-0">
            <img class='d-block mx-auto' src="/images/icons/calibrate.svg">
        <h2 class="text-center">Calibration</h2>
        <p>Supprimer le signal indésirable des images RAW est l'objectif principal de la première étape du prétraitement. Siril peut bien sûr traiter les fichiers maîtres OFFSETS / DARKS / FLATS.</p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-5 mt-3 mt-lg-0">
            <img class='d-block mx-auto' src="/images/icons/stack.svg">
        <h2 class="text-center">Empilement</h2>
        <p>Améliorez le rapport signal / bruit en combinant des images individuelles préalablement alignées. Le rejet des valeurs aberrantes réduira encore plus le bruit de l'image finale.</p>
        </div><!-- /.col-lg-4 -->

    </div><!-- /.row -->

    <div class="row justify-content-around">

        <div class="col-lg-5 mt-3 mt-lg-0">
            <img class='d-block mx-auto' src="/images/icons/enhance.svg">
        <h2 class="text-center">Amélioration</h2>
        <p>L'image empilée peut être traitée en étalonnant les couleurs très précisément, en appliquant une déconvolution, en étirant l'histogramme et plus encore.</p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-5 mt-3 mt-lg-0">
            <img class='d-block mx-auto' src="/images/icons/science.svg">
        <h2 class="text-center">Science</h2>
        <p>Parce que les images peuvent contenir des données scientifiques précieuses, Siril fournit des outils puissants ainsi qu'une interaction astrométrique pour donner rapidement des informations sur les objets de l'image.</p>
        </div><!-- /.col-lg-4 -->

    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider my-5">

    <div class="row featurette">

        <div class="col-md-7 text-md-end">
        <h2 class="featurette-heading">Votre workflow astro complet. <div class="text-muted">Ça va vous épater.</div></h2>
        <p class="lead">Siril est entièrement capable de prétraiter et de traiter des images astronomiques en offrant aux utilisateurs un large ensemble d'algorithmes spécialisés. L'utilisateur peut le faire automatiquement à l'aide de scripts dédiés ou manuellement s'il préfère garder le contrôle de chaque étape.</p>
        </div>

        <div class="col-md-5">
        <img src="/wp-content/uploads/2018/06/b33light.png" style="width:100%; border-radius:10px;"/>
        </div>
    </div>

    <hr class="featurette-divider my-5">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Ciel profond rapide. <div class="text-muted">Voyez par vous-même.</div></h2>
        <p class="lead">Grâce à la possibilité de traiter nativement les vidéos SER, Siril est vraiment adapté à la technique d'imagerie du ciel profond rapide. Tous les algorithmes de travail utilisent la totalité des cœurs de l'ordinateur, il est alors possible de traiter plus de 60 000 images sans effort. L'adaptation de la méthode d'alignement suivant le cas (sur toutes les étoiles, une étoile ou sur le corps des nébuleuses) fait que l'alignement n'échoue presque jamais, même si les étoiles sont faibles.</p>
        </div>
        <div class="col-md-5 order-md-1">
        <img src="/wp-content/uploads/2018/06/cropped-crabe.jpg" style="width:100%; border-radius:10px;"/>

        </div>
    </div>

    <hr class="featurette-divider my-5">

    <div class="row featurette">
        <div class="col-md-7 text-md-end">
        <h2 class="featurette-heading">Rapide et flexible. <div class="text-muted">Échec et mat.</div></h2>
        <p class="lead">Profitant du grand avantage du format de fichier SER, ou FITS-Cube, un seul fichier supplémentaire est créé pour chaque étape de prétraitement. Chaque méthode d'empilement disponible dans Siril utilise pleinement toute la puissance de l'ordinateur. Par conséquent, traiter 10 000 images peut aller aussi vite que boire une tasse de café.</p>
        </div>
        <div class="col-md-5">
        <img src="/wp-content/uploads/2018/06/cropped-kiwi.jpg" style="width:100%; border-radius:10px;"/>

        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

</div>
