<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>{{ block "title" . }}{{ .Site.Title }}{{ if .Title }} - {{ .Title }}{{ end }}{{ end }}</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="flattr:id" content="709p5l">

<link rel="manifest" href="site.webmanifest">

<!-- Place favicon.ico in the root directory -->
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<link rel="icon" href="/free_astro.siril.svg">



<!-- RSS feed -->
{{ with .OutputFormats.Get "rss" -}}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}" title="{{ $.Site.Title }}">
{{ end -}}

<!-- OpenGraph microdata -->
{{/* {{ template "_internal/opengraph.html" . }} */}}
{{/* We're overriding the default opengraph template in layouts/partials/opengraph.html */}}
{{ partial "opengraph.html" . }}

<!-- Twitter Cards microdata -->
{{/* {{ template "_internal/twitter_cards.html" . }} */}}
{{ partial "twitter_cards.html" . }}


<!-- Add Mathjax support -->
{{ partial "mathjax-support.html" . }}
