<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
    <a class="navbar-brand" href="{{ .Site.BaseURL}}" rel="home" title="{{ .Site.Title }}">
        <img src='/free_astro.siril.svg' alt='{{ i18n "siril-logo" }}' height='25' class='align-text-bottom'>
        {{ .Site.Title | safeHTML }}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">

	    {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
            <li class="nav-item">
                {{ if or (eq .Name "Donate") (eq .Name "Soutenez-nous") }}
                <span class='nav-link'>
                    <a class="me-1 donate" href="{{.URL}}">
                        {{ .Pre }}
                        <span>{{ .Name }}</span>
                        <span class="visually-hidden">{{ i18n "current" }}</span>
                    </a>
                    <a href="https://www.paypal.com/donate?business=paypal%40free-astro.org&item_name=Siril+and+the+free-astro+team&currency_code=EUR" title="Donate With PayPal">
                        <img src="/images/icons/pp16.png"/>
                    </a>
                    <a href="https://liberapay.com/Siril/donate" title="Donate With Liberapay">
                        <img src="/images/icons/liberapay_logo_white-on-yellow_16px.png"/>
                    </a>
                    <a href="https://flattr.com/@siril" title="Donate With Flattr">
                        <img src='/images/icons/flattr.png' alt="Flattr" >
                    </a>
                    <a href="{{.URL}}#dogecoin" title="Donate With Dogecoin">
                        <img src='/images/icons/dogecoin.svg' width="16" alt="Dogecoin" >
                    </a>
                </span>
                {{ else }}
                <a class="nav-link" href="{{.URL}}">
                {{ .Pre }}
                <span>{{ .Name }}</span>
                <span class="visually-hidden">{{ i18n "current" }}</span>
                </a>
                {{ end }}
            </li>
		{{ end }}
        </ul>
	<ul class="navbar-nav ms-auto">
	    {{ if .IsTranslated }}
	    <li class="nav-item dropdown" aria-describedby="language-picker-description">
        <p class="visually-hidden" id="language-picker-description">{{ i18n "languages" }}</p>
        <a class="nav-link dropdown-toggle" href="#" id="transDropDown" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <img src="/Language-Icons/icon20x24px-exported-transparent.png" alt="Language Icon" height="20" />
          <span>{{ i18n "translations" }}</span>
        </a>

        <ul class="dropdown-menu" aria-labelledby="transDropDown" role="listbox">
          <li><a class="dropdown-item" aria-selected="true" hreflang="{{ .Site.Language.Lang }}" role="option" lang="{{ .Site.Language.Lang }}" href="{{ .Permalink }}">{{ .Site.Language.LanguageName }}</a></li>
          {{ range .Translations }}
            <li><a class="dropdown-item" hreflang="{{ .Language.Lang }}" role="option" lang="{{ .Language.Lang }}" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
          {{ end }}
        </ul>
	    </li>
	    {{ end }}
	</ul>

    </div>
</nav>
