{{ define "title" }}{{ .Title | markdownify }} | {{ .Site.Title }}{{ end }}
{{ define "main" }}
{{ $dateFormat := default "Mon Jan 2, 2006" (index .Site.Params "date_format") }}


<article class='page container mt-5'>

    <div class='row justify-content-center'>
        <div class='col-lg-8'>
            <h1 class="title">
                {{ .Title | markdownify }}
            </h1>
            <h2>{{ i18n "faq" }}</h2>

            {{ .TableOfContents }}

            <hr>

            {{ .Content }}

            {{/*
            {{ if .IsTranslated }}
                <h4>{{ i18n "translations" }}</h4>
                <ul>
                    {{ range .Translations }}
                        <li><a href="{{ .Permalink }}">
                                {{ .Lang }}: {{ .Title }}{{ if .IsPage }}{{ end }}
                            </a></li>
                        {{ end }}
                </ul>
            {{ end }}
            */}}

        </div>

    </div>

</article>

{{ end }}
